html {
    background: olivedrab ;
}

body {
    width:90%;
    margin:0 auto;
    margin-bottom: 3%;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,1);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,1);
    font-family: 'Raleway', sans-serif;
}

header {
    margin: 2%;
}

#logo {
    float: right;
}

header p {
    margin:0;
    padding-bottom: 5px;
}

h1 {
    padding:0;
    margin:0;
}

h1 a {
    text-decoration: none;
    color: black;
}

h2 {
    margin: 1%;
    text-align: center;
}

h3 {
    margin:0;
    padding: 0;
}

p {
    margin:2%;
}

.highlight {
    color:red;
}

section {
    margin:2% 0;
}

section hr {
    margin:0;
}

section.intro {
    text-align: center;
}

table {
    margin-top: 10% 2%;
    font-size: 1em;
}

table.syllabus{
    margin: 0 auto;
    width:90%;
}

table.syllabus td {
}

td {
    padding: 10px;
    vertical-align: top;
}

footer {
    text-align: center;
}

@media all and (min-width: 641px) {

}


@media all and (max-width: 640px) {

    body {
        width: 100%;
    }

    header {
        text-align: center;
    }

    #logo {
        display:none;
    }

    table, thead, tbody, th, td, tr {
        display: block;
        border: none;
    }

    td {
        border:none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding: 0;
    }

    tr {
        padding: .8em;
    }
}

@media print {

    header, footer {
        display: none;
    }
}

@page {
    margin: 0.5cm;
}
